@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;1000&display=swap");

main {
  height: 100vh;
  background-color: #CEEDDB;
  background-size: cover;
  font-family: 'DM Sans', sans-serif;
}

div {
  background-color:#CEEDDB;
}

.nav-link {
  color: #003554 !important;
}

#navbar {
  background-color: #85BAA1;
}

#navbar-name {
  color: #003554;
}

#navbar-items {
  color: #003554;
}

#contact-header {
  color: #003554;
}

#about-header {
  color: #003554;
}

#about-me-paragraph {
  color: #003554;
  font-size: larger;
}

#resume-header {
  color: #003554;
}

#resume-section {
  color: #003554;
}

#portfolio-header {
  color: #003554;
}

#project-title {
  color: #003554;
  font-weight: 300;
}

.fadein img{
  opacity:0.5;
  transition: 1s ease;
  }
  
  .fadein img:hover{
  opacity:1;
  transition: 1s ease;
  }

#portfolio-p {
  color: #003554;
}

#footer {
  background-color: #003554;
}