@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;1000&display=swap");

main {
  background-color: #CEEDDB;
  background-size: cover;
  font-family: 'DM Sans', sans-serif;
}

.nav-link {
  color: #003554 !important;
}

#navbar {
  background-color: #85BAA1;
}

#navbar-name {
  color: #003554;
}

#navbar-items {
  color: #003554;
}

#contact-header {
  color: #003554;
}

#about-header {
  color: #003554;
}

#about-me-paragraph {
  color: #003554;
  font-size: larger;
}

#resume-header {
  color: #003554;
}

#resume-section {
  color: #003554;
}

#portfolio-header {
  color: #003554;
}

#project-title {
  color: #003554;
  font-weight: 300;
}

#portfolio-p {
  color: #003554;
}

#footer {
  background-color: #003554;
}